{erl_opts, [debug_info]}.
{deps_dir, ["deps"]}.
{deps, [
{mochiweb, ".*",
{git, "git://github.com/mochi/mochiweb.git", "master"}},
{mochiweb_xpath, ".*",
{git, "git://github.com/retnuh/mochiweb_xpath", "master"}}]}.
{edoc_opts,[{private,true}]}.
{sub_dirs, ["deps/mochiweb/ebin", "deps/mochiweb_xpath/ebin"]}.
